#input_url_display,
#error_display{
    margin-top: 0.5rem;
}
#content_info{
    margin-top: 1rem;
}
.confirmation{
    margin-top: 1rem;
}
.confirmation_text{
    display: inline;
}
.thumbnail{
    max-width: 30rem;
}
.title{
    font-weight: bold;
    margin-top: 0.5rem;
}
.description{
    margin: 0.5rem 2rem 0;
    white-space: pre-wrap;
}
.profile-pic{
    max-width: 4rem;
    display: inline;
    border-radius: 50%;
}
.info{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}