*{
    box-sizing: border-box;
}
p, a, h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(132, 35, 35);
    position: fixed;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 2px 5px gray;
}
.left-header{
    margin-left: 0.5rem;
    color: azure;
    font-weight: bold;
    font-size: 2rem;
}
.demo-text {
    display: inline-block;
    font-size: 1rem;
}
.home-link{
    color: azure;
    text-decoration: none;
    padding: 0.3em 0;
}
.center-header{
    text-align: center;
    display: inline;
}
.right-header{
    margin-right: 0.5rem;
    text-align: right;
    color: azure;
    display: inline;
}

.add-link{
    color: azure;
    text-decoration: none;
}
.text-input{
    width: 100%;
    max-width: 200px;
    padding: 0.5em 0.5em;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
}
.search-button{
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    background-color: #c6c6c6;
}
.url-add-button{
    padding: 0.5em 0.5em;
    font-size: 1rem;
}
.main-content-section{
    margin-left: 10rem;
    margin-top: 4rem;
    padding-top: 0.5em;
}

@media (max-width: 810px){
    .main-content-section{
        margin-left: 0;
    }
}
@media (max-width: 600px) {
    .left-header {
        font-size: 1.4rem;
    }
    .text-input {
        padding: 0.5em 0.5em;
        max-width: 100px;
    }
    .search-button {
        padding: 0.5em 0.5em;
    }
}