<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tubarr Video Manager</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'videomanager/stylesheets/header.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <div class="left-header">
        <a href="{% url 'videomanager:index' %}" class="home-link">Tubarr</a>
    </div>
    <div class="center-header">
        <input type="text" placeholder="Search All" class="text-input">
    </div>
    <div class="right-header">
        {#        <form action="" method="POST">#}
        {#            <input name="yt-url-add" id="yt-url-add" type="url" placeholder="URL" class="text-input">#}
        {#            <input type="submit" value="Add" class="url-add-button">#}
        {#        </form>#}
        <a href="{% url 'videomanager:add' %}" class="add-link">Add Content</a>
    </div>
</header>
<div class="main-content-section">
    {% block maincontent %}
        <h2>Error: content cannot be loaded</h2>
    {% endblock %}
</div>
</body>
</html>