{% extends "videomanager/base.html" %}

{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'videomanager/stylesheets/del.css' %}">
    <link rel="stylesheet" href="{% static 'videomanager/stylesheets/channel_list.css' %}">
{% endblock %}

{% block maincontent %}
    {% if channel_list %}
        <div class="content-grid">
            {% for channel in channel_list %}
                <div class="channel-card">
                    <a href="{% url 'videomanager:channel' channel.channel_id %}" class="channel-link">
                        <div class="channel-icon-container">
{#                            <img class="channel-icon" src="{% url 'videomanager:index' %}{{ 'content/' + channel.channel_id + '/avatar.jpg' }}" alt="channel icon">#}
                            <img class="channel-icon" src="{{ MEDIA_URL }}{{ channel.channel_id }}/avatar.jpg" alt="channel icon">
                        </div>
                        <p class="channel-title">{{ channel.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No channels available</p>
    {% endif %}
{% endblock %}
