{% extends "videomanager/base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'videomanager/stylesheets/channel_info.css' %}">
    {% block inner_stylesheet %}
    {% endblock %}
{% endblock %}

{% block maincontent %}
    <div class="channel-header">
        <div class="channel-decoration">
            <img class="banner-image" src="{{ channel.banner_image.url }}" alt="">
            <form id="delete_form" action="{{ request.path }}delete/">
                {% csrf_token %}
                <label>
                    <button class="delete-button" type="submit">Delete Channel</button>
                </label>
            </form>
            <div class="channel-info">
                <img class="channel-pfp" src="{{ channel.profile_image.url }}" alt="">
                <h1 class="channel-name">{{ channel.name }}</h1>
            </div>
        </div>
        <div class="tab-row">
            <div class="tabs">
                <a class="tab" id="home-tab">
                    <div>Home</div>
                </a>
                <a class="tab" id="videos-tab">
                    <div>Videos</div>
                </a>
                <a class="tab" id="playlists-tab">
                    <div>Playlists</div>
                </a>
            </div>
        </div>
    </div>

    <div id="inner-content">
        {% block inner_content %}
        {% endblock %}
    </div>

    <script src="{% static 'videomanager/javascript/channel_tab_switcher.js' %}"></script>
    <script>
        const channelId = "{{ channel.channel_id }}"
        const channelName = "{{ channel.name }}"
        document.addEventListener("DOMContentLoaded", () => {
            let activeTab = document.querySelector(`${activeTabId}`)
            activeTab.click()
        })
    </script>
{% endblock %}