{% extends "videomanager/base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'videomanager/stylesheets/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'videomanager/stylesheets/full-video-entry.css' %}">
    <link rel="stylesheet" href="{% static 'videomanager/stylesheets/channel_info.css' %}">
    {% block inner_stylesheet %}
    {% endblock %}
{% endblock %}

{% block maincontent %}
    <div class="channel-decoration">
        <img class="banner-image" src="{{ channel.banner_image.url }}" alt="">
        <div class="channel-info">
            <img class="channel-pfp" src="{{ channel.profile_image.url }}" alt="">
            <h1 class="channel-name">{{ channel.name }}</h1>
        </div>
    </div>
    <div class="tab-row">
        <div class="tabs">
            <a class="tab" id="home-tab" href="/c={{ channel.channel_id }}/"><div>Home</div></a>
            <a class="tab" id="videos-tab" href="/c={{ channel.channel_id }}/videos/"><div>Videos</div></a>
            <a class="tab" id="playlists-tab" href="/c={{ channel.channel_id }}/playlists/"><div>Playlists</div></a>
        </div>
    </div>

    {% block inner_content %}
    {% endblock %}

    <form id="delete_form" action="{{ request.path }}delete/">
        {% csrf_token %}
        <label>
            <button type="submit">Delete</button>
        </label>
    </form>
{% endblock %}