{% extends "videomanager/base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'videomanager/stylesheets/channel_info.css' %}">
    {% block inner_stylesheet %}
    {% endblock %}
{% endblock %}

{% block maincontent %}
    <div class="channel-decoration">
        <img class="banner-image" src="{{ channel.banner_image.url }}" alt="">
        <div class="channel-info">
            <img class="channel-pfp" src="{{ channel.profile_image.url }}" alt="">
            <h1 class="channel-name">{{ channel.name }}</h1>
        </div>
    </div>
    <div class="tab-row">
        <div class="tabs">
            <a class="tab" id="home-tab" href="/c={{ channel.channel_id }}/">
                <div>Home</div>
            </a>
            <a class="tab" id="videos-tab" href="/c={{ channel.channel_id }}/videos/">
                <div>Videos</div>
            </a>
            <a class="tab" id="playlists-tab">
                <div>Playlists</div>
            </a>
        </div>
    </div>

    <div id="inner-content">
        {% block inner_content %}
        {% endblock %}
    </div>

    <form id="delete_form" action="{{ request.path }}delete/">
        {% csrf_token %}
        <label>
            <button type="submit">Delete</button>
        </label>
    </form>
    <script src="{% static 'videomanager/javascript/channel_tab_switcher.js' %}"></script>
    <script>
        const channelId = "{{ channel.channel_id }}"
        const channelName = "{{ channel.name }}"
        const tabs = document.querySelectorAll(".tab")
        tabs.forEach(tab => tab.classList.remove('active'))
        const activeTab = document.querySelector("#home-tab")
        activeTab.classList.add("active")
        {#activeTab.click()#}
    </script>
{% endblock %}