{% extends "videomanager/base.html" %}

{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'videomanager/stylesheets/del.css' %}">
    <link rel="stylesheet" href="{% static 'videomanager/stylesheets/channel_list.css' %}">
{% endblock %}

{% block maincontent %}
    <div class="main-content">
        {% if channel_list %}
            <div class="channel-grid">
                {% for channel in channel_list %}
                    <div class="channel-card">
                        <a href="{% url 'videomanager:channel' channel.channel_id %}" class="channel-link">
                            <div class="channel-icon-container">
                                <img class="channel-icon" src="{{ channel.profile_image.url }}" alt="channel icon">
                            </div>
                            <p class="channel-title">{{ channel.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No channels available</p>
        {% endif %}
    </div>
{% endblock %}
