{% extends "videomanager/base.html" %}
{% load static %}

{% block stylesheets %}{% endblock %}

{% block maincontent %}

    <p>Video Name:</p>

    {% if video %}
        <p>{{ video.title }}</p>
        <div id="video">
            {% if video.file.url is not None %}
                <video controls width="1000">
                    <source src="{{ video.file.url }}">
                </video>
                <img src="{{ video.thumbnail.url }}" alt="thumbnail">
            {% else %}
                <p style="color: red; margin: 2rem 0 2rem 0">Cannot find video file</p>
            {% endif %}
        </div>

        <form id="delete_form" action="{{ request.path }}delete/">
            {% csrf_token %}
            <label>
                <button type="submit">Delete</button>
            </label>
        </form>
    {% endif %}

{% endblock %}