{% extends "videomanager/base.html" %}
{% load static %}

{% block stylesheets %}{% endblock %}

{% block maincontent %}

    <p>Video Name:</p>

    {% if video %}
        <p>{{ video.title }}</p>
        <div id="video">
            <video controls width="1000">
                <source src="{{ video.file.url }}">
            </video>
        </div>

        <form id="delete_form" action="{{ request.path }}delete/">
            {% csrf_token %}
            <label>
                <button type="submit">Delete</button>
            </label>
        </form>
    {% endif %}

{% endblock %}